<% fields = get_field(object, label.to_s) %>
<% if fields.any? %>
	<div class="fact">
	  <div>
	    <%= label.to_s %>:
	  </div>
	  <div>
	    <% fields.each do |f| %>
	        <%= just_links_markdown f.content %>&nbsp;
	    <% end %>
	  </div>
	</div>
<% end %>