<h1>Developers</h1>
</p>


<% @developers.each do |developer| %>
	<div class="tiled_4x">
            <a href="/developers/<%= developer.id %>">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
                                <div class="caption"><div><%= developer.name %></div></div>
			</div>
		</a>
	</div>
       
    
<% end %>

<br />
</div>
<div class="container">
    
   <%= link_to "New Developer", new_developer_path %> 

