<div>
  <h1>Developers</h1>


  <% @developers.each do |developer| %>
      <div class="tiled_4x">
        <a href="/developers/<%= developer.id %>">
          <div class="tile">
            <%= image_tag developer.image_url %>
            <div class="caption">
              <div><%= developer.name %></div>
            </div>
          </div>
        </a>
      </div>


  <% end %>
  <div class="clear"></div>
</div>

<div><br />

    <%= link_to "New Developer", new_developer_path %>
</div>