<div>
  <h1>Developers</h1>


  <% @developers.each do |developer| %>
      <div class="tiled_4x">
        <a href="/developers/<%= developer.id %>">
          <div class="tile">
            <%= image_tag developer.image_url(:tiled_4x).to_s, :class => "media rounded" %>
            <div class="caption">
              <div><%= developer.name %></div>
            </div>
          </div>
        </a>
      </div>


  <% end %>
  <div class="clear"></div>
</div>

<% if user_signed_in? %>
    <div><br/>

        <%= link_to "New Developer", new_developer_path %>
    </div>
<% end %>
