<% if type != nil && object != nil %>
    <ul>
        <% get_mixed_fields(object, type).each do |mf| %>
          <li>
            <% if mf.developer != nil %>
              <%= link_to mf.developer.name, developers_path(mf.developer) %>
            <% elsif mf.company != nil %>
              <%= link_to mf.company.name, companies_path(mf.company) %>
            <% elsif mf.notFound != nil %>
              <%= mf.notFound %>
            <% end %>
            <% if mf.additionalInfo != nil %>
                &nbsp;-<%= mf.additionalInfo %>
            <% end %>
          </li>
        <% end %>
    </ul>
<% end %>