<p class="screenshotfields">
  <%= builder.label :image, (File.basename builder.object.image_url.to_s) %>  <br/>
  <%= builder.file_field :image %>
  <%= link_to_remove_screenshot_fields "remove" , builder %>
</p>


