<div class="layout-container">
  <h2>Games</h2>

  <%= link_to 'New Game', new_game_path %>

  <ul id="games-list">
    <!--<tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>-->

    <% @games.each do |game| %>
    <li class="game_<%= game.title %>">
      <ul>
          <li><%= link_to game.title, game, :class => "game-title" %></li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>


