
<div>
    <h2>Games</h2>

    <% @games.each do |game| %>
      <div class="tiled_2x">
        <a href="/games/<%= game.id %>">
          <div class="tile" >
            <%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
            <div class="caption"><div><%= game.title %></div>
           </div>
          </div>
        </a>
        </div>


    <% end %>
  <div class="clear"></div>
</div>

<div><br>
<%= link_to 'New Game', new_game_path %>
</div>


<<<<<<< HEAD
=======


>>>>>>> 40fe9b763bf4f7e24ec1cd42f33780068e06fff0
