<h1>Report game content</h1>

<%= render 'report' %>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_game_path(@game) %> |
<%end %>
<%= link_to 'Show', @game %> |
<%= link_to 'Back', games_path %>


