<div>
  <h1>Companies</h1>


  <% @companies.each do |company| %>
      <div class="tiled_4x">
        <a href="/companies/<%= company.id %>">
          <div class="tile">
            <%= image_tag (company.image_url(:tiled_4x).to_s) , :class => "tiled_4x_img" %>
            <div class="caption">
              <div><%= company.name %></div>
            </div>
          </div>
        </a>
      </div>


  <% end %>
  <div class="clear"></div>
</div>

<div><br />

    <%= link_to "New Company", new_company_path %>
</div>