<h1>Report company content</h1>

<%= render 'report' %>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_company_path(@company) %> |
<%end %>
<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>


